h1 {
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    text-align: center;
}

.slogan {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

header {
    padding: .5rem;
    margin: .5rem 2rem;
    background: linear-gradient(
        #1f9cd1,
        #78c8eb);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #076585;
}

section { 
    margin: .5rem 2rem;
    padding: .5rem;
    border: 1px solid gray;
    border-radius: 10px;
}

footer {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 90%;
}
