* {
    box-sizing: border-box;
}

/*My Profile*/
h1 {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type=save], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type=save]:hover {
    background-color: #4580a0;
}

div.box_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-of-type {
    padding-top: 8px;
}

/*My Group*/
h1.groups {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type=create], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type=create]:hover {
    background-color: #4580a0;
}

div.box_container_my_group {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-of-type {
    padding-top: 8px;
}
